body {
    background-image: url("../pictures/natalie-toombs-Zwl3zlN4qtw-unsplash.jpg");
    background-size: 110%;
}

#form {
    width: 60%;
    left: 270px;
    height: 400px;
    margin-top: 10%;
}

#heading {
    text-align: center;
    font-size: 60px;
    margin: 50px;
}