body {
    background-image: url("../pictures/shaah-shahidh-cFRA3_hpkkY-unsplash.jpg");
    background-size: 110%;
}

#segment {
    position: absolute;
    height: 12%;
    left: 150px;
    top: 50px;
}
